### To-do list

- Add introduction and miscellaneous info
- Perform DNA translation and transcription
- Perform investigation on amino acid sequences
- Perform BLAST queries
- Show data viz
- Compare similarities between COV2, SARS and MERS

In [137]:
import os
from Bio.SeqRecord import SeqRecord
from Bio import SeqIO
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

#### Load the data

In [138]:
path = os.getcwd()
covid = SeqIO.read(path+'/data/coronavirus-genome-sequence/MN908947.fna', "fasta")

In [139]:
for sequence in SeqIO.parse(path+'/data/coronavirus-genome-sequence/MN908947.fna', "fasta"):
    print('Id: ' + sequence.id + '\nSize: ' + str(len(sequence))+' nucleotides')

Id: MN908947.3
Size: 29903 nucleotides

#### Verify the data

In [140]:
DNA = covid.seq

#### DNA translation

In [141]:
DNA

Seq('ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGT...AAA')

#### Transcription

In [142]:
mRNA = DNA.transcribe()

In [143]:
mRNA

Seq('AUUAAAGGUUUAUACCUUCCCAGGUAACAAACCAACCAACUUUCGAUCUCUUGU...AAA')

In [144]:
len(mRNA)

29903

In [145]:
amino_acid = mRNA.translate(table=1, cds=False)

/Users/kennyallau/.virtualenvs/bioenv38/lib/python3.8/site-packages/Bio/Seq.py:2334: BiopythonWarning: Partial codon, len(sequence) not a multiple of three. Explicitly trim the sequence or add trailing N before translation. This may become an error in future.
  warnings.warn(

In [146]:
amino_acid

Seq('IKGLYLPR*QTNQLSISCRSVL*TNFKICVAVTRLHA*CTHAV*LITNYCR*QD...KKK')

In [147]:
f"Covid-19 has {len(amino_acid)} amino acids."

'Covid-19 has 9967 amino acids.'

In [148]:
proteins = amino_acid.split('*')

In [149]:
len(proteins)

775

In [150]:
proteins[:5]

[Seq('IKGLYLPR'),
 Seq('QTNQLSISCRSVL'),
 Seq('TNFKICVAVTRLHA'),
 Seq('CTHAV'),
 Seq('LITNYCR')]

In [151]:
from Bio.Data import CodonTable
print(CodonTable.unambiguous_rna_by_name['Standard'])

Table 1 Standard, SGC0

  |  U      |  C      |  A      |  G      |
--+---------+---------+---------+---------+--
U | UUU F   | UCU S   | UAU Y   | UGU C   | U
U | UUC F   | UCC S   | UAC Y   | UGC C   | C
U | UUA L   | UCA S   | UAA Stop| UGA Stop| A
U | UUG L(s)| UCG S   | UAG Stop| UGG W   | G
--+---------+---------+---------+---------+--
C | CUU L   | CCU P   | CAU H   | CGU R   | U
C | CUC L   | CCC P   | CAC H   | CGC R   | C
C | CUA L   | CCA P   | CAA Q   | CGA R   | A
C | CUG L(s)| CCG P   | CAG Q   | CGG R   | G
--+---------+---------+---------+---------+--
A | AUU I   | ACU T   | AAU N   | AGU S   | U
A | AUC I   | ACC T   | AAC N   | AGC S   | C
A | AUA I   | ACA T   | AAA K   | AGA R   | A
A | AUG M(s)| ACG T   | AAG K   | AGG R   | G
--+---------+---------+---------+---------+--
G | GUU V   | GCU A   | GAU D   | GGU G   | U
G | GUC V   | GCC A   | GAC D   | GGC G   | C
G | GUA V   | GCA A   | GAA E   | GGA G   | A
G | GUG V   | GCG A   | GAG E   | GGG G   | G
--+---------+---------+---------+---------+--

In [152]:
df = pd.DataFrame(proteins)

In [153]:
df.describe()

          0
count   775
unique  625
top      ()
freq     69

In [154]:
df['length'] = df[0].apply(len)
functional_proteins = df.loc[df['length'] >= 20]

In [155]:
functional_proteins

                                                     0  length
5    (Q, D, T, S, N, S, S, I, F, C, R, L, L, T, V, ...      35
6    (D, G, E, P, C, P, W, F, Q, R, E, N, T, R, P, ...      46
9    (T, A, L, C, V, H, Q, T, F, G, C, S, N, C, T, ...      21
12   (D, T, W, C, P, C, P, S, C, G, R, N, T, S, G, ...      22
39   (H, L, Q, W, G, M, S, K, F, C, I, S, L, K, F, ...      24
..                                                 ...     ...
757  (S, I, Q, C, N, T, S, F, R, Q, T, W, S, R, T, ...      30
758  (L, Q, T, L, A, A, N, C, T, I, C, P, Q, R, F, ...      43
764  (N, S, S, L, T, A, E, T, E, E, T, A, N, C, D, ...      23
766  (L, N, S, G, L, N, S, C, R, P, H, K, A, D, G, ...      27
771  (K, S, H, H, I, F, T, E, A, T, R, S, T, I, E, ...      43

[80 rows x 2 columns]

In [156]:
functional_proteins.describe()

            length
count    80.000000
mean     67.262500
std     299.955767
min      20.000000
25%      22.000000
50%      25.000000
75%      36.000000
max    2701.000000

In [157]:
df['amino acid sequence'] = df[0].apply(str)

In [158]:
functional_proteins.rename(columns={0: "sequence"}, inplace=True)

/Users/kennyallau/.virtualenvs/bioenv38/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [159]:
functional_proteins['amino acid sequence'] = df[0].apply(str)

<ipython-input-159-d410d05ae72a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  functional_proteins['amino acid sequence'] = df[0].apply(str)

In [160]:
amino_acid_seq = functional_proteins.sort_values(by=['length'], ascending=False)

In [161]:
amino_acid_seq

,sequence,length,amino acid sequence
548,"(C, T, I, V, F, K, R, V, C, G, V, S, A, A, R, ...",2701,CTIVFKRVCGVSAARLTPCGTGTSTDVVYRAFDIYNDKVAGFAKFL...
694,"(A, S, A, Q, R, S, Q, I, T, L, H, I, N, E, L, ...",290,ASAQRSQITLHINELMDLFMRIFTIGTVTLKQGEIKDATPSDFVRA...
719,"(T, N, M, K, I, I, L, F, L, A, L, I, T, L, A, ...",123,TNMKIILFLALITLATCELYHYQECVRGTTVLLKEPCSSGTYEGNS...
695,"(A, Q, A, D, E, Y, E, L, M, Y, S, F, V, S, E, ...",83,AQADEYELMYSFVSEETGTLIVNSVLLFLAFVVFLLVTLAILTALR...
718,"(Q, Q, M, F, H, L, V, D, F, Q, V, T, I, A, E, ...",63,QQMFHLVDFQVTIAEILLIIMRTFKVSIWNLDYIINLIIKNLSKSL...
...,...,...,...
736,"(P, E, W, R, T, Q, W, G, A, I, K, T, T, S, A, ...",20,PEWRTQWGAIKTTSAPRFTQ
477,"(L, L, R, C, S, Y, N, C, H, V, F, G, Q, R, Y, ...",20,LLRCSYNCHVFGQRYCFYVC
275,"(F, K, N, Y, R, R, G, W, P, H, R, S, N, G, C, ...",20,FKNYRRGWPHRSNGCLCRQF
301,"(M, G, F, N, C, F, W, L, S, C, R, V, V, F, G, ...",20,MGFNCFWLSCRVVFGIYSFH
594,"(R, H, Q, I, C, I, C, L, C, L, E, Q, E, E, N, ...",20,RHQICICLCLEQEENQQLCC

In [162]:
amino_acid_seq=amino_acid_seq.drop('sequence', axis=1)

In [163]:
amino_acid_seq

     length                                amino acid sequence
548    2701  CTIVFKRVCGVSAARLTPCGTGTSTDVVYRAFDIYNDKVAGFAKFL...
694     290  ASAQRSQITLHINELMDLFMRIFTIGTVTLKQGEIKDATPSDFVRA...
719     123  TNMKIILFLALITLATCELYHYQECVRGTTVLLKEPCSSGTYEGNS...
695      83  AQADEYELMYSFVSEETGTLIVNSVLLFLAFVVFLLVTLAILTALR...
718      63  QQMFHLVDFQVTIAEILLIIMRTFKVSIWNLDYIINLIIKNLSKSL...
..      ...                                                ...
736      20                               PEWRTQWGAIKTTSAPRFTQ
477      20                               LLRCSYNCHVFGQRYCFYVC
275      20                               FKNYRRGWPHRSNGCLCRQF
301      20                               MGFNCFWLSCRVVFGIYSFH
594      20                               RHQICICLCLEQEENQQLCC

[80 rows x 2 columns]

In [164]:
from Bio.SeqUtils.ProtParam import ProteinAnalysis

In [165]:
aa = str()
for i in functional_proteins['amino acid sequence']:
    aa+=i

analyzed_aa_seq = ProteinAnalysis(aa)

In [166]:
analyzed_aa_seq.count_amino_acids()

{'A': 275,
 'C': 301,
 'D': 237,
 'E': 172,
 'F': 336,
 'G': 249,
 'H': 165,
 'I': 260,
 'K': 255,
 'L': 508,
 'M': 90,
 'N': 306,
 'P': 192,
 'Q': 189,
 'R': 275,
 'S': 419,
 'T': 382,
 'V': 379,
 'W': 111,
 'Y': 280}

In [167]:
analyzed_aa_seq.get_amino_acids_percent()

{'A': 0.05110574242705817,
 'C': 0.0559375580747073,
 'D': 0.044043858018955585,
 'E': 0.03196431889983274,
 'F': 0.06244192529269652,
 'G': 0.04627392677940903,
 'H': 0.0306634454562349,
 'I': 0.04831815647649136,
 'K': 0.047388961159635756,
 'L': 0.09440624419252927,
 'M': 0.016725515703400855,
 'N': 0.056866753391562906,
 'P': 0.035681100167255154,
 'Q': 0.0351235829771418,
 'R': 0.05110574242705817,
 'S': 0.07786656755249953,
 'T': 0.07099052220776807,
 'V': 0.07043300501765472,
 'W': 0.02062813603419439,
 'Y': 0.05203493774391377}

In [168]:
analyzed_aa_seq.molecular_weight()

617539.0634999983

In [181]:
analyzed_aa_seq.aromaticity()

0.13510499907080467

In [183]:
analyzed_seq.gravy()

-0.0642631481137321

In [182]:
analyzed_aa_seq.isoelectric_point()

8.67223873138428

In [177]:
from Bio.Blast import NCBIWWW
result_handle = NCBIWWW.qblast("blastp", "nt", amino_acid_seq)

In [178]:
with open("aa_blast.xml", "w") as out_handle:
    out_handle.write(result_handle.read())

result_handle.close()
result_handle = open("aa_blast.xml")

In [179]:
from Bio.Blast import NCBIXML
blast_records = NCBIXML.parse(result_handle)